.App {
  text-align: center;
}
.quantity{
  margin:10px;
}
.basket__remove{
float: left;
}
.collection .collection-item.active{
  background-color: #ff7800
}
.name{
  font-size: 5px;
  float: right;
}
